<div id="<%= dom_id @user %>">
  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>
  <% if @user.avatar? %>
    <p>
      <strong>Avatar:</strong>
      <%= image_tag @user.avatar.url, size: "500x500" %>
    </p>
  <% end %>
</div>
